{% extends "base.html" %}
{% block content %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
					<div class = "col-lg-12">
						<h1></h1>
					</div>
                    <div class="col-lg-12">
                        <h1 class="page-header">{{borrower_name}} 's Borrow
                            <small>List</small>
                        </h1>
                    </div>
					<a id="ontop_button"></a>
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class ="alert alert-{{ category}}">
								{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
                    <!-- /.col-lg-12 -->
					<div>

					</div>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr align="center">
								<th>Borrower ID</th>
								<th>Borrower</th>
                                <th>Device Name</th>
								<th>Brand</th>
                                <th>Date Borrow</th>
                                <th>Date Return</th>

                            </tr>
                        </thead>
                        <tbody>
							{% for borrow in borrowlist %}
                            <tr class="odd gradeX" align="center">
								<td class="auto-line-break">{{borrow.borrower.id}}</td>
                                <td class="auto-line-break">{{borrow.borrower.name}}</td>
                                <td class="auto-line-break">{{borrow.device_borrow.name}}</td>
								<td class="auto-line-break">{{borrow.device_borrow.brand}}</td>
                                <td class="auto-line-break">{{borrow.date_borrow}}</td>
								{% if borrow.date_return == None %}
								{% if status == 'All' %}
								<td class="auto-line-break" style="text-align:center;"><a href={{url_for('borrow_manage.device_return', id = borrow.id)}} class="btn btn-primary" role="button"><i class="fa fa-undo"></i></a></td>
								{% elif status == 'Borrowing' %}
								<td class="auto-line-break" style="text-align:center;"><a href={{url_for('borrow_manage.return_from_borrowing_list', id = borrow.id)}} class="btn btn-primary" role="button"><i class="fa fa-undo"></i></a></td>
								{% endif %}
								{% else %}
								<td class="auto-line-break" style="text-align:center;">{{borrow.date_return}}</td>

								{% endif %}

                            </tr>
							{% endfor %}

                        </tbody>
                    </table>


					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
		

{% endblock %}
{% block subscribe_script %}
			$(document).ready(function() {
			

		   var table = $('#dataTables-example').DataTable({

		   		searchPane: {
					container : '.col-md-2',
					columns: [':contains("Brand")'],
					threshold : 0

				},
				"order": [[ 5, "asc" ]],
				select: true,
				pageLength: 15,
				orderCellsTop: true,
				"dom" : '<"col-lg-12"<"export">f<"row"<"col-md-10"t<ip>><"col-md-2">>>',
				initComplete: function(){
					$("div.export").html('  <a style="float:left;" href={{url_for('export_api.export',id=borrower_id)}} class="btn btn-primary" role="button"><i class="fa fa-plus-circle"></i> Export to pdf</a>');
					$("div.col-md-2").html('<div class="dropdown"><button class="dropbtn">Status</button><div class="dropdown-content"><a href={{url_for('history_api.borrowing_history',id=borrower_id)}}>Borrowing</a><a href={{url_for('history_api.returned_history',id=borrower_id)}}>Returned</a><a href={{url_for('history_api.borrow_history', id = borrower_id)}}>All</a></div></div><label>Date Borrow From:</label><input id="datepicker1" type="date"><label style="padding-top:5px;">To:</label><input id="datepicker2" type="date"><button id="button1" type="button" class="btn btn-info">Go</button> ');
											//END of the data table
					}  
		   


			});

		  
		  var dateStart, dateEnd;

			$("#button1").click(function (){
				var today = new Date();
				var dd = String(today.getDate()).padStart(2, '0');
				var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
				var yyyy = today.getFullYear();

				today = yyyy + '-' + mm + '-' + dd;
				if($("#datepicker1").val()=="")
					dateStart='0000-01-01';
				else
					dateStart=$("#datepicker1").val();
				if($("#datepicker2").val()=="")
					dateEnd=today;
				else
					dateEnd=$("#datepicker2").val();
				//alert(dateStart);
				//alert(dateEnd);
				
				table.draw();
				});



		  
		$.fn.dataTable.ext.search.push(
			function( settings, data, dataIndex ) {
				var inEmpStartingDateRange;
				var empStartDate = Date.parse(data[4]);
				inEmpStartingDateRange = (dateStart && dateEnd) ?
				(moment(empStartDate).isSameOrAfter(dateStart) 
			  && moment(empStartDate).isSameOrBefore(dateEnd)) : true;
			  
			  return inEmpStartingDateRange;

			}
		);		  
		
		$('#dataTables-example tbody').on( 'click', 'tr', function () {
			$(this).toggleClass('selected');
			var id = $.map(table.rows('.selected').data(), function (item) {
				return item[0]
			});
			//alert(id)
			if(id == "")
			{
				table.search(id).draw();
			}
			else{
				table.search( id[0] ).draw();
			}

		} );

		var btn = $('#ontop_button');

		$(window).scroll(function() {
		  if ($(window).scrollTop() > 300) {
			btn.addClass('show');
		  } else {
			btn.removeClass('show');
		  }
		});

		btn.on('click', function(e) {
		  e.preventDefault();
		  $('html, body').animate({scrollTop:0}, '300');
		});
 


			


		});
{% endblock %}