<head>
	<title>Log In</title>
	<link rel="stylesheet" href="/static/fontawesome/css/all.min.css" type="text/css">
	<link rel="stylesheet" href="/static/fontawesome/css/solid.min.css" type="text/css">
	<link rel="stylesheet" href="/static/fontawesome/webfonts/fa-solid-900.ttf" type="text/css">

	<link rel="stylesheet" href="/static/login-style.css" type="text/css">
</head>

<body>
	<div class="login-box">
		<img class="avatar" src="/static/img/login-avatar.png" alt="avatar">
		<h1>Đăng nhập</h1>
		<form method="POST">
			<p>Tên đăng nhập</p>
			<input type="text" name="username" placeholder="Tên đăng nhập" required checked>
			<p>Mật khẩu</p>
			<div class="eyes-showpassword">
				<input autocomplete="off" id="passw" type="password" name="password" placeholder="Mật khẩu" required checked>
				<i id="password" onclick=" showPassword2();showPassword1();" class="fas fa-eye-slash"></i>
			</div>
			<input type="submit" name="submit" value="Đăng nhập">
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script>
<!--		$(document).ready(function(){-->
<!--			$("i").click(showPassword1){-->
<!--				$("")-->
<!--			}-->
<!--		})-->



		function showPassword1(){
		var x=document.getElementById("passw");
		if(x.type==="password"){
			x.type="text";
		}
		else{
			x.type="password";
		}
		}
		function showPassword2(x){
			var x=document.getElementById("password");
			x.classList.toggle("fa-eye");
			x.classList.toggle("fa-eye-slash");
		}
		</script>
	</div>
</body>